<a href="https://colab.research.google.com/github/sarahcodebyte/AdvertisementSalePrediction/blob/main/Advertisement_Sale_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing dependencies

In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

Load Dataset

In [3]:
dataset = pd.read_csv('/content/Digital AdDataset - Sheet1.csv')
dataset.head()

   Age  Salary  Status
0   50  114793       1
1   35  180352       0
2   21   96328       1
3   75   34961       0
4   46  169833       1

In [4]:
#checking distribution of status
dataset['Status'].value_counts()

0    154
1    145
Name: Status, dtype: int64

Data Splitting

In [8]:
X = dataset.drop(columns='Status', axis = 1)
Y = dataset['Status']
print(X)
print(Y)

     Age  Salary
0     50  114793
1     35  180352
2     21   96328
3     75   34961
4     46  169833
..   ...     ...
294   64  183151
295   33  130211
296   74  199878
297   48  138284
298   33   62243

[299 rows x 2 columns]
0      1
1      0
2      1
3      0
4      1
      ..
294    1
295    0
296    1
297    0
298    1
Name: Status, Length: 299, dtype: int64

Data Splitting for training and testing

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

Rescaling our data for new data to be accurately tested

Note: Rescaling is done so that the data parameters are more or less similar to each other. This also ensures prevention of overfitting

In [13]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
print(X_train)

[[-1.42576918  0.83167415]
 [ 0.3830534  -0.26980673]
 [ 0.14965694 -1.34028769]
 [-1.25072184 -0.16961059]
 [ 1.02489367  0.20261384]
 [ 0.44140251  1.11071433]
 [ 1.49168659 -0.14613513]
 [ 1.55003571  0.76247792]
 [ 0.3830534  -1.76852519]
 [ 1.60838482  1.71365435]
 [ 1.08324278 -1.72462915]
 [-0.25878687 -0.79582105]
 [ 1.08324278 -1.00502942]
 [ 0.79149721  1.41023659]
 [-0.43383422 -0.30720344]
 [ 1.25829013 -1.47412857]
 [ 0.32470428 -0.75426231]
 [ 0.67479898  1.46098049]
 [-1.54246741  0.65768921]
 [-1.36742007 -1.5965085 ]
 [ 1.66673394 -0.16458746]
 [ 0.73314809 -0.09680591]
 [ 1.02489367 -1.45540971]
 [ 0.67479898  1.40527497]
 [ 1.25829013 -1.7527792 ]
 [ 1.25829013 -0.88646297]
 [ 1.02489367 -0.79735874]
 [ 0.44140251 -1.02540899]
 [-0.02539041 -1.44462535]
 [ 1.08324278 -0.93048202]
 [ 1.08324278 -1.32261446]
 [ 1.43333748  0.80772713]
 [ 0.55810075 -0.05366848]
 [-0.31713599  0.31925304]
 [-1.1340236  -0.71524589]
 [ 1.19994102  0.84670254]
 [-0.25878687 -1.36288154]
 [ 1.08324278  0.56577612]
 [ 0.03295871 -1.33938558]
 [-0.31713599 -1.50221711]
 [-1.19237272  1.56626127]
 [ 1.31663925 -1.43363596]
 [-0.20043776  0.51396609]
 [-1.01732537  0.70131871]
 [-1.01732537 -0.23763817]
 [ 0.26635517  1.68566832]
 [-1.42576918  1.12422553]
 [-1.30907095  0.94876441]
 [-0.14208864 -0.10748776]
 [-0.25878687  1.0033628 ]
 [-1.25072184  1.31069654]
 [-0.20043776 -0.57980581]
 [ 0.26635517 -0.91949264]
 [ 0.09130782 -1.57040871]
 [-0.20043776 -0.21777117]
 [ 0.09130782 -1.0389202 ]
 [ 0.73314809  0.3760042 ]
 [ 0.14965694 -1.42016576]
 [ 0.3830534  -1.1016171 ]
 [ 1.66673394 -1.16070555]
 [-0.78392891 -0.85618066]
 [ 0.84984632 -0.46591395]
 [-0.66723068 -1.76091873]
 [ 1.19994102  1.0803295 ]
 [-0.90062714  0.76114526]
 [ 0.84984632  0.40975145]
 [-0.66723068 -1.73280968]
 [-1.36742007  0.95413609]
 [-0.95897626 -1.02342024]
 [-0.31713599  0.57377213]
 [-0.31713599  0.51892772]
 [ 1.37498836  0.43681486]
 [ 1.02489367  1.37070761]
 [-1.36742007 -1.21239257]
 [-0.95897626  0.81838847]
 [ 1.02489367 -0.65322557]
 [-1.25072184 -1.11039221]
 [ 1.60838482 -0.25248204]
 [-0.78392891 -0.97757646]
 [-1.19237272  1.47861271]
 [ 1.25829013 -1.32068722]
 [ 0.14965694  0.33545008]
 [-1.07567449 -1.29868795]
 [-0.55053245 -1.40200047]
 [-0.95897626 -0.03890661]
 [-1.42576918 -0.10943551]
 [ 0.73314809  0.39086857]
 [-0.3754851  -0.33086342]
 [ 0.79149721  1.385695  ]
 [-0.90062714 -0.45527311]
 [-1.01732537  0.74779807]
 [-0.02539041 -0.90259851]
 [-0.95897626  1.1374702 ]
 [-1.36742007  1.07965291]
 [-1.42576918  0.66750995]
 [ 0.26635517 -1.15525186]
 [ 1.60838482  0.70195429]
 [-1.30907095  1.17742974]
 [ 0.84984632 -0.56748376]
 [-1.4841183   0.7940314 ]
 [-0.14208864  1.18729148]
 [ 0.14965694  0.51726701]
 [-1.25072184  1.21521601]
 [-0.66723068  1.31332087]
 [-0.08373953  1.51502531]
 [-1.60081653  1.56687634]
 [ 0.84984632 -1.38116985]
 [ 1.19994102  1.60427306]
 [-0.78392891 -1.10821893]
 [-1.30907095  0.03395957]
 [ 1.25829013  1.19450839]
 [-1.42576918  0.8804908 ]
 [ 1.25829013 -0.58564905]
 [-0.55053245 -0.25703362]
 [-0.66723068 -0.85636518]
 [ 0.14965694 -0.72902362]
 [ 0.67479898  0.44007478]
 [-0.55053245  0.57287002]
 [ 0.79149721 -0.26498862]
 [ 1.19994102 -0.77351423]
 [-0.84227803  0.65287111]
 [ 0.84984632  1.12531217]
 [-0.78392891  0.28530076]
 [-1.36742007  0.00476389]
 [ 0.67479898  1.15190402]
 [ 0.20800605 -0.03080809]
 [-0.31713599  1.17539999]
 [-0.49218333  1.56841404]
 [-1.42576918  1.61034182]
 [-1.1340236  -0.13278795]
 [ 0.96654455 -1.15767117]
 [ 0.03295871 -1.7535788 ]
 [ 0.90819544 -0.74114065]
 [-0.43383422  1.50450748]
 [-0.55053245  1.19493895]
 [ 0.49975163 -0.57299895]
 [ 1.19994102 -0.96951895]
 [ 1.02489367  1.12418453]
 [-1.01732537  0.64922164]
 [-0.31713599 -0.57199433]
 [-1.07567449  0.42344718]
 [ 0.84984632  1.3547361 ]
 [ 1.02489367 -0.89406943]
 [ 0.84984632  1.50204717]
 [ 1.49168659 -0.70056604]
 [ 0.61644986 -0.03043905]
 [ 1.08324278 -1.17706661]
 [ 0.90819544  0.4719768 ]
 [ 0.44140251  0.40511787]
 [-1.1340236  -1.32417266]
 [ 1.19994102  0.85662579]
 [ 1.37498836  0.5362729 ]
 [-0.49218333  0.30346605]
 [ 0.14965694  0.9914918 ]
 [ 0.67479898 -0.58868343]
 [-1.60081653  1.50237521]
 [-1.01732537  1.46356382]
 [-0.02539041 -0.93788346]
 [ 1.08324278 -1.49555377]
 [ 0.79149721  0.83823498]
 [-0.55053245 -0.890666  ]
 [ 0.90819544 -0.62159008]
 [-1.36742007 -1.75148754]
 [-1.60081653  1.23469346]
 [-0.84227803  0.13142886]
 [ 1.37498836 -1.48013583]
 [-1.4841183   1.53702458]
 [-0.02539041  1.62953224]
 [-0.60888157 -0.06447334]
 [ 0.67479898 -0.60680772]
 [-1.36742007  1.52226272]
 [ 0.09130782  0.45081813]
 [-1.19237272 -0.78679991]
 [-0.3754851  -1.35349136]
 [ 0.67479898 -0.10693419]
 [-1.60081653  0.36858226]
 [ 1.66673394 -0.71942841]
 [ 1.60838482  1.51808019]
 [ 1.66673394  0.50367379]
 [-1.25072184  0.6663413 ]
 [ 1.1415919  -0.85126004]
 [ 0.14965694 -1.50426737]
 [-1.4841183  -1.21688263]
 [ 1.25829013 -0.32852613]
 [ 0.44140251 -0.28996077]
 [-0.02539041  1.09765418]
 [-0.3754851   0.49487819]
 [-1.42576918 -1.57469375]
 [-0.3754851  -0.56403932]
 [-0.02539041 -0.59657693]
 [ 0.67479898 -0.42499079]
 [-0.14208864 -0.89269576]
 [ 1.49168659  1.61497541]
 [-0.3754851  -0.98694614]
 [-0.84227803  0.71251312]
 [-1.54246741  1.05137985]
 [ 1.49168659  0.37143212]
 [ 1.55003571  0.108712  ]
 [-1.19237272  0.96625312]
 [-1.65916564  0.4712182 ]
 [ 1.66673394 -0.11478668]
 [-1.01732537  1.69473046]
 [-1.4841183   0.3910736 ]
 [ 0.79149721  0.23670964]
 [ 0.09130782 -0.3529037 ]
 [-0.95897626 -0.54191703]
 [ 0.61644986  0.66781749]
 [-0.66723068 -0.86142932]
 [ 0.14965694 -0.45644176]
 [-1.4841183  -0.40938833]
 [ 0.73314809 -1.75655168]
 [-1.36742007 -1.30975934]
 [-1.42576918  0.45643584]
 [ 0.03295871  0.90224405]
 [-0.49218333 -1.16626175]
 [ 1.55003571  0.01234985]
 [-0.3754851   1.46352281]
 [ 1.08324278  0.38340563]
 [-1.07567449  1.4871828 ]
 [-0.7255798   1.23481648]
 [-0.08373953 -1.08515353]
 [ 0.73314809  0.70224133]
 [ 0.09130782  0.01720896]
 [ 0.3830534  -0.1664942 ]
 [-1.54246741 -0.78066964]
 [ 1.60838482  0.33893552]
 [ 1.19994102 -0.64479901]
 [ 1.08324278  0.72055014]
 [-0.66723068  0.63919588]
 [ 0.96654455  1.22725102]
 [-1.54246741  1.09847429]
 [-0.66723068 -0.11169079]
 [-0.66723068 -1.00685415]
 [-1.07567449  0.07455469]
 [ 0.3830534  -0.58810936]
 [-1.07567449 -0.59448566]
 [ 1.31663925  1.35090211]
 [-0.66723068 -0.55538723]
 [ 1.66673394 -1.66757046]]

Training the model

In [17]:
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

In [19]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.5146443514644351

In [20]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.45

In [23]:
cm = confusion_matrix(Y_test, X_test_prediction)
print('Confusion Matrix: ')
print(cm)

print('Accuracy of model: {0}%'.format(accuracy_score(Y_test, X_test_prediction)*100))

Confusion Matrix:
[[24  7]
 [26  3]]
Accuracy of model: 45.0%

Prediction

In [25]:
age = int(input('Enter age: '))
salary = int(input('Enter your salary: '))
newCustomer = [[age, salary]]
result = model.predict(sc.transform(newCustomer))
print(result)

if result == 1:
  print("Customer will buy.")
else: print('Customer wont buy')

Enter age: 25
Enter your salary: 60995
[0]
Customer wont buy

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"